<div>
  <h2>Minhas Tarefas</h2>
  @if (tasks.length === 0) {
    <p>Nenhuma tarefa encontrada. Que tal criar uma ?</p>
  }
  <ul style="list-style-type: none; padding: 0">
    @for (task of tasks; track task.id) {
      <li style="padding: 10px; border: 1px solid #ccc; margin-bottom: 5px; border-radius: 5px">
        <div>
          <strong>{{ task.title }}</strong>
          <span [style.color]="task.completed ? 'green' : 'red'">
            ({{ task.completed ? 'Concluida' : 'Pedente' }})
          </span>
          <p style="margin: 5px 0 0 0; font-size: 14px; color: #667">
            {{ task.description }}
          </p>
        </div>
      </li>
    }
  </ul>
</div>
